body {
    background: rgb(234, 234, 241);
    background: linear-gradient(to bottom right, rgb(3, 49, 80), rgb(206, 206, 194));
};

.tableHeader {
    text-transform: uppercase; 
}

.trainPic {
    height: 100px;
    width: 100px;
}